
@using (Html.BeginForm("Index", "Courses"))
{
    <p></p>
    <input type="text" name="SearchString" class="col-form-label-sm" placeholder="Search">
    <input type="submit" value="Filter" class="btn-info" width="20" />

}


